{% extends "layout.html" %}

{% block style %}
table {
    font-size: 1.5em;
    text-align: center;
}
th {
    width: 30%;
}
input {
    font-size: 1em;
    background-color: transparent;
    color: yellow;
    border: none;
    font-family: Times New Roman;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
button {
    background-color: green;
    color: yellow;
    border: 5px outset var(--alt-bg-1);
    font-family: Times New Roman;
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
}
button:hover {
    border: 5px inset var(--alt-bg-1);
    padding-top: 5px;
}
{% endblock %}

{% block content %}
<h1>Calculate Show Payouts</h1>

<br>

<table>
  <tbody>
    <tr>
      <th>Band 1</th>
      <td colspan="2">
        <input name="band1" type="text" value="None" />
      </td>
    </tr>
    <tr>
      <th>Band 2</th>
      <td colspan="2">
        <input name="band2" type="text" value="None" />
      </td>
    </tr>
    <tr>
      <th>Band 3</th>
      <td colspan="2">
        <input name="band3" type="text" value="None" />
      </td>
    </tr>
    <tr>
      <th>Band 4</th>
      <td colspan="2">
        <input name="band4" type="text" value="None" />
      </td>
    </tr>
    <tr>
      <th>Band 5</th>
      <td colspan="2">
        <input name="band5" type="text" value="None" />
      </td>
    </tr>
    <tr>
      <th>Band 6</th>
      <td colspan="2">
        <input name="band6" type="text" value="None" />
      </td>
    </tr>
  </tbody>
</table>

<br>

<table>
  <tbody>
    <tr>
      <th># of Nest Staff</th>
      <td colspan="2">
        <input name="" type="number" value="4" />
      </td>
    </tr>
    <tr>
      <th>Income</th>
      <td>
        Cash:
        <input type="number" value="0" />
      </td>
      <td>
        Venmo:
        <input type="number" value="0" />
      </td>
    </tr>
  </tbody>
</table>

<br>

<center>
  <button>Calculate</button>
</center>

<h1>test</h1>

{% endblock %}
