{% extends "layout.html" %}

{% block style %}
@media screen and (max-width: 650px) {
    #intro {
        padding-bottom: 4% !important;
    }
    table {
        font-size: 0.75em !important;
    }
    #show-tables {
        padding-top: 4% !important;
    }
}
#intro {
    padding-bottom: 2%;
}
table {
    font-size: 1.5em;
    table-layout: fixed;
    text-align: center;
}
.date-link {
    color: var(--alt-hl);
}
{% endblock %}

{% block bottomlinks %}
<a id="guidelines" href="/guidelines">Guidelines</a>
<a id="finances" href="/finances" class="selected">Finances</a>
{% endblock %}

{% block content %}

<script>
  function copyTableLink(linkId) {
      navigator.clipboard.writeText("https://thenest207.live/finances#" + linkId);
  }
</script>

<h1>Finances</h1>

<div id="intro">
  <p>&emsp;&emsp;<b>For summer shows, the Nest receives an equal cut to that of the bands, which is then split between the staff working that event.</b></p>
  <p>&emsp;&emsp;For instance, for a show that brought in $100 with 4 bands and 4 staff, the cut will be split 5 ways, which each band getting $20 and the staff splitting the additional $20 to each get $5. For simplicity, each cut is rounded down to the nearest whole dollar, and any dollars left over remain with the Nest.</p>
</div>

<center>
  <h1>Past Show Breakdowns</h1>
</center>

<div id="show-tables"></div>

<script>

  const showTableTemplate = `
    <h2 id="DATE_ID">
      <a class="date-link" href="https://thenest207.live/finances#DATE_ID">DATE</a>
    </h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Total</th>
          <th>Nest</th>
          <th>Staff</th>
          <th>Performers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Total</th>
          <td>INCOME</td>
          <td>NEST_CUT</td>
          <td>STAFF_TOTAL</td>
          <td>PERF_TOTAL</td>
        </tr>
        <tr>
          <th>Split Between</th>
          <td></td>
          <td>Nest</td>
          <td>NUM_STAFF Staff Members</td>
          <td>PERFORMERS</td>
        </tr>
        <tr>
          <th>Each</th>
          <td></td>
          <td>NEST_CUT</td>
          <td>STAFF_CUT</td>
          <td>PERF_CUT</td>
        </tr>
      </tbody>
    </table>
    `

  fetch("finances_get")
    .then(response => response.json())
    .then(data => {

        let showTablesStr = "";
        for (const [i, show] of data.entries()) {

            const date = new Date(show.date)
                  .toLocaleDateString("en-US", {timeZone: "GMT"});

            const staffTotal = show.staffPayout * show.numStaff;
            const perfTotal = show.performers[0].payout * show.performers.length;

            let performers = "";
            for (performer of show.performers) {
                performers += performer.name + "<br>";
            }

            showTablesStr += showTableTemplate
                .replaceAll("DATE_ID", date.replaceAll("/", "-"))
                .replaceAll("DATE", date)
                .replaceAll("INCOME", show.income)
                .replaceAll("NEST_CUT", show.nestCut)
                .replaceAll("STAFF_TOTAL", staffTotal)
                .replaceAll("PERF_TOTAL", perfTotal)
                .replaceAll("NUM_STAFF", show.numStaff)
                .replaceAll("PERFORMERS", performers)
                .replaceAll("STAFF_CUT", show.staffPayout)
                .replaceAll("PERF_CUT", show.performers[0].payout);

            if (i !== data.length -1) {
                showTablesStr += "<br>";
            }

        }

        document.getElementById("show-tables").innerHTML = showTablesStr;

    });

</script>

{% endblock %}
