{% extends "layout.html" %}

{% block style %}
h2 {
  margin-top: 1%;
}
h3 {
  margin-top: 2%;
}
a {
  color: var(--alt-hl);
}
{% endblock %}

{% block toplinks %}
<a id="home" href="/">Home</a>
<a id="about" href="/about">About</a>
<a id="donate" href="/donate">Donate</a>
<a id="merch" href="/merch">Merch</a>
{% endblock %}

{% block content %}

<p>&emsp;&emsp;The Nest was created as a DIY music venue for alternative and queer folks in the area. In light of recent situations, rumors surrounding the nest, and the scene as a whole, we feel like we have let down our community. As team and members of the scene, we deeply apologize to anyone who has been hurt, mistreated, or affected by the poor environment created. These situations do not reflect the morals and values of the nest. Unfortunately as a show house, we have strayed from our original intention. We also acknowledge the lack of credibility, dysfunctional power, and  poor financial transparency within the nest as an organization and apologized for its effect on bands, team members, and other houses in the scene. We recognize the harm that’s been done. Continuing forward we will be providing resources, transparency, and grievance officers.</p>

<h2>Some Helpful Resources</h2>

<h3>YWCA lafayette Domestic Violence Intervention Prevention Program</h3>
765-742-0075
<br>
Emergency Hotline: 765-423-1118
<br>
<a href="https://www.ywcalafayette.org/what-were-doing/domestic-violence" target="_blank">https://www.ywcalafayette.org/what-were-doing/domestic-violence</a>

<h3>CARE (Center for Advocacy, Response, and Education)</h3>
765-495-2273 (dial option 1 for 24/7 hotline)
<br>
care@purdue.edu
<br>
205 N Russel St

<h3>CAPS (Counseling and Psychological Services)</h3>
Open 8am-5pm
<br>
After Hours Mental Health Crisis Services: 765-494-6995
<br>
602 Stadium Mall Drive, Room 224

<h3>Mental Health America Crisis Center Lafayette, IN</h3>
765-742-0244

<h3>Aspire Indiana - Special Populations Support Program</h3>
765-742-0244
<br>
<a href="https://www.aspireindiana.org" target="_blank">www.aspireindiana.org</a>
<br>
1231 Cumberland Ave, Suite C, West Lafayette, IN

<h3>Lafayette Harm Reduction Street Outreach</h3>
Jeni: 219-241-8395, David: 765-237-9275, Meagan: 765-237-9103, Grace: 317-982-1113
<br>
streetoutreach@gmail.com

<h3>Substance Abuse and Mental Health Services Administration</h3>
<a href="https://www.samhsa.gov" target="_blank">https://www.samhsa.gov/</a>

<h3>Recognizing Alcohol Poisoning</h3>
<a href="https://www.verywellhealth.com/poisoning-5217912" target="_blank">https://www.verywellhealth.com/poisoning-5217912</a>

<br><br>

{% endblock %}
